name: DevSecOps Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  security:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'

    - name: Install dependencies
      run: |
        pip install bandit safety

    - name: SAST - Bandit
      run: |
        bandit -r api -ll

    - name: Dependency Scan - Safety
      run: |
        safety check -r requirements.txt

    - name: Build Docker Image
      run: |
        docker build -t devsecops-secure-app .

    - name: Docker Image Scan - Trivy
      uses: aquasecurity/trivy-action@master
      with:
        image-ref: devsecops-secure-app
        severity: CRITICAL,HIGH
        exit-code: 1